.page-wrapper {
    max-width: 100%;
}

#block-uni-oldenburg-custom-content {
    grid-column: 1 / 15;
}

.contextual,
.view-content {
    grid-column: 1 / 15!important;
}

.main-content .container {
    max-width: unset;
}

@media only screen and (min-width: 1500px) {
    .main-wrapper--frontpage .main-content .container {
        margin-left: -5rem;
    }
}

[dir="ltr"] .wide-image {
    margin-left: 0!important;
}