.page-wrapper {
    max-width: 100%;
}

.flex {
    display: flex;
}

#block-uni-oldenburg-custom-content {
    grid-column: 1 / 15;
}

.contextual,
.view-content {
    grid-column: 1 / 15!important;
}

.main-content__container {
    max-width: 1200px!important;
    margin: 0 auto;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

[dir="ltr"] .wide-image {
    margin-left: 0!important;
}

main .region--content {
    margin-bottom: 200px;
}

#block-uni-oldenburg-custom-content {
    margin-bottom: 0!important;
}