.page-wrapper {
    max-width: 100%;
}

.flex {
    display: flex;
}

#block-uni-oldenburg-custom-content {
    grid-column: 1 / 15;
}

.contextual,
.view-content {
    grid-column: 1 / 15!important;
}

.main-content__container {
    max-width: 1200px!important;
    margin: 0 auto;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

[dir="ltr"] .wide-image {
    margin-left: 0!important;
}

main .region--content {
    margin-bottom: 200px;
}

#block-uni-oldenburg-custom-content {
    margin-bottom: 0!important;
}

.v-section-wrapper {
    gap: 100px;
    .v-section--content {
        flex: 0 1 70%;
    }
    .v-section--sidebar {
        flex: 0 1 30%;
        width: 400px;
        margin-top: 326px;
        z-index: 99;
        @media only screen and (max-width: $breakpoint-s) {
            margin-top: 333px;
        }
    }
}