@mixin font-h2 {
    color: $color-brown!important;
    letter-spacing: 0;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    font-family: "metropolis", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
}

@mixin font-h1 {
    font-size: 60px;
    line-height: 74px;
    font-weight: 900;
    color: $color-brown;
}

@mixin font-h3 {
    font-size: 1.5rem;
    line-height: 2.25;
    font-weight: 700;
    color: black;
}

@mixin font-topline {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $color-petrol;
}

@mixin font-big-text {
    font-family: "metropolis", sans-serif;
    font-size: 23px;
    line-height: 40px;
    color: $color-petrol;
}