h2,
.h2 {
    @include font-h2;
    * {
        @include font-h2;
    }
}

h1,
.h1 {
    @include font-h1;
    * {
        @include font-h1;
    }
}

h3,
.h3 {
    @include font-h3;
    * {
        @include font-h3;
    }
}

.topline,
.h1>.field__label {
    @include font-topline;
    * {
        @include font-topline;
    }
}

.menu__link {
    @include font-menulink;
    &:hover {
        text-decoration: underline;
    }
}

div,
p {
    @include font-text;
}

a,
a * {
    @include font-link;
}

.link--arrow a,
.link--arrow .a {
    text-decoration: none;
    &::after {
        background-image: url(../img/arrow--right--blue.png);
        background-size: 100% 100%;
        width: 16px;
        height: 16px;
        content: '';
        display: inline-block;
        margin-left: 10px;
        transform: translateY(3px);
    }
}

.home__category-list__wrapper__title {
    color: black!important;
}

.field--name-field-uberschrift {
    @include font-h2;
}

.big-text,
.big-text * {
    @include font-big-text;
}

.font {
    &--black {
        color: black!important;
    }
}

.btn {
    &--primary {
        padding: 30px;
        background-color: $color-petrol;
        color: white!important;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
        border: none;
        border-radius: 4px;
        display: block;
        margin-top: 50px;
        width: fit-content;
        width: -moz-fit-content;
        width: -ms-fit-content;
        width: -webkit-fit-content;
        &::after {
            content: '›';
            padding-left: 30px;
            padding-top: 2px;
            font-size: 2rem;
        }
    }
}

.text-content a,
.cke_editable a {
    &.btn--primary {
        transition: none;
        text-decoration: none;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
    }
}