h2,
.h2 {
    @include font-h2;
    * {
        @include font-h2;
    }
}

h1,
.h1 {
    @include font-h1;
    * {
        @include font-h1;
    }
}

h3,
.h3 {
    @include font-h3;
    * {
        @include font-h3;
    }
}

.topline {
    @include font-topline;
    * {
        @include font-topline;
    }
}

.link--arrow a,
.link--arrow .a {
    text-decoration: none;
    &::after {
        background-image: url(../img/arrow--right--blue.png);
        background-size: 100% 100%;
        width: 16px;
        height: 16px;
        content: '';
        display: inline-block;
        margin-left: 10px;
        transform: translateY(3px);
    }
}

.home__category-list__wrapper__title {
    color: black!important;
}

.field--name-field-uberschrift {
    @include font-h2;
}

.node--type-frontpage-top {
    .field--name-field-einstiegstext {
        @include font-big-text;
    }
}