.layout--twocol-bricks {
    margin: 0 auto;
    justify-content: space-between;
    @media only screen and (max-width: $breakpoint-s) {
        flex-direction: column;
    }
    .layout__region--middle {
        height: 100px;
    }
    .layout__region--first-above {
        @media only screen and (max-width: $breakpoint-s) {
            .field--type-image {
                display: flex;
                flex-direction: row;
                flex-wrap: no-wrap;
                width: 100%;
                overflow: scroll;
                .field-item {
                    display: inline-block;
                    height: 340px;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        img {
            width: 100%
        }
    }
    .layout__region--second-above {
        display: flex;
        flex-direction: column;
        justify-content: center;
        >.field.subline {
            font-size: 30px;
            color: $color-petrol;
        }
    }
}

.layout--twocol-bricks>.layout__region--first-above,
.layout--twocol-bricks>.layout__region--second-above,
.layout--twocol-bricks>.layout__region--first-below,
.layout--twocol-bricks>.layout__region--second-below {
    flex: 0 1 45%;
}

.layout--twocol-bricks>.layout__region--first-below,
.layout--twocol-bricks>.layout__region--second-below {
    >.field {
        border-bottom: 3px solid $color-brown;
        padding-bottom: 50px;
        margin-bottom: 0;
        padding-top: 50px;
        margin-top: 0;
        .field__item .layout {
            margin: 0;
        }
    }
}