.layout--twocol-bricks {
    margin: 0 auto;
    justify-content: space-between;
    @media only screen and (max-width: $breakpoint-s) {
        flex-direction: column;
    }
    .layout__region--middle {
        height: 100px;
    }
    .layout__region--first-above {
        align-self: center;
        @media only screen and (max-width: $breakpoint-s) {
            .field--type-image {
                display: flex;
                flex-direction: row;
                flex-wrap: no-wrap;
                width: 100%;
                overflow: scroll;
                margin-bottom: 50px;
                .field-item {
                    display: inline-block;
                    height: 340px;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        img {
            width: 100%
        }
    }
    .layout__region--second-above {
        display: flex;
        flex-direction: column;
        justify-content: center;
        >.field.subline {
            font-size: 30px;
            color: $color-petrol;
        }
    }
}

.layout--twocol-bricks>.layout__region--first-above,
.layout--twocol-bricks>.layout__region--second-above,
.layout--twocol-bricks>.layout__region--first-below,
.layout--twocol-bricks>.layout__region--second-below {
    flex: 0 1 45%;
    max-width: 100%;
    .slick-next {
        right: 20px;
    }
    .slick-wrapper--tn-right .slick--main {
        padding-right: 20px;
    }
    @media only screen and (min-width: $breakpoint-s) {
        max-width: 45%;
    }
}

.layout--twocol-bricks>.layout__region--first-below,
.layout--twocol-bricks>.layout__region--second-below {
    >.field {
        border-bottom: 3px solid $color-brown;
        padding-bottom: 50px;
        margin-bottom: 0;
        padding-top: 50px;
        margin-top: 0;
        .field__item .layout {
            margin: 0;
        }
    }
}

.slick--thumbnail.slick--skin--asnavfor .slick__slide.slick-current::before {
    display: none;
}

.slick--thumbnail.slick--skin--asnavfor .slick__slide.slick-current {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transform: none;
}

.slick--thumbnail.slick--skin--asnavfor .slick__slide img {
    height: 100px;
    object-fit: cover;
}

.slick--thumbnail.slick--skin--asnavfor {
    @media only screen and (max-width: $breakpoint-ml) {
        display: none
    }
}


/* 
.slick--field .slick__slider {
    display: grid;
    grid-template-columns: [first] 70% [mid] 30% [end];
    grid-template-rows: repeat(5, 1fr);
} */