.layout--twocol-bricks {
    margin: 0 auto;
    justify-content: space-between;
    .layout__region--middle {
        height: 100px;
    }
    .layout__region--first-above {
        img {
            width: 100%
        }
    }
    .layout__region--second-above {
        display: flex;
        flex-direction: column;
        justify-content: center;
        >.field.subline {
            font-size: 30px;
            color: $color-petrol;
        }
    }
}

.layout--twocol-bricks>.layout__region--first-above,
.layout--twocol-bricks>.layout__region--second-above,
.layout--twocol-bricks>.layout__region--first-below,
.layout--twocol-bricks>.layout__region--second-below {
    flex: 0 1 45%;
}

.layout--twocol-bricks>.layout__region--first-below,
.layout--twocol-bricks>.layout__region--second-below {
    >.field {
        border-bottom: 3px solid $color-brown;
        padding-bottom: 50px;
        margin-bottom: 0;
        padding-top: 50px;
        margin-top: 0;
        .field__item .layout {
            margin: 0;
        }
    }
}