.layout--person {
    .layout--person__first-wrapper {
        margin-top: 90px;
    }
    .layout--person__second-wrapper {
        gap: 30px;
        margin-bottom: 90px;
        @media only screen and (max-width: $breakpoint-s) {
            flex-direction: column;
        }
        .layout--person__second-wrapper__inner {
            flex: 0 1 50%;
            .field {
                border-bottom: 3px solid $color-brown;
                padding-bottom: 50px;
                margin-bottom: 0;
                padding-top: 50px;
                margin-top: 0;
                .field__item .layout {
                    margin: 0;
                }
            }
        }
    }
}