body {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    .social-bar {
        background-color: white;
    }
}

.node--type-inhalte-beitragen .layout--twocol {
    @media only screen and (max-width: $breakpoint-m) {
        flex-direction: column;
    }
}

.node--type-inhalte-beitragen .node__content .layout--twocol>div {
    @media only screen and (max-width: $breakpoint-m) {
        max-width: 100%;
    }
}