.view-filters {
    .views-exposed-form.form--inline {
        background-color: $color-brown;
        display: flex;
        padding: 50px;
        justify-content: center;
        justify-items: center;
        margin-bottom: 100px;
        position: relative;
        &::before {
            content: '';
            width: 100vw;
            height: calc(100% + 50px);
            position: absolute;
            background-color: $color-brown;
            z-index: 1;
            pointer-events: none;
            top: -50px;
            @media only screen and (min-width: 1200px) {
                left: calc((((100vw - 100%) / 2) * -1) - 45px);
            }
            @media only screen and (max-width: 1199px) {
                left: calc(((100vw - 100%) / 2) * -1);
            }
        }
        * {
            z-index: 2;
        }
    }
}