.object-cards {
    .view-filters {
        .views-exposed-form.form--inline {
            background-color: $color-brown;
            display: flex;
            flex-direction: column;
            padding: 50px;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
            position: relative;
            transform: translateY(-40px);
            &::before {
                content: '';
                width: 100vw;
                height: calc(100% + 50px);
                position: absolute;
                background-color: $color-brown;
                z-index: 1;
                pointer-events: none;
                top: -50px;
                @media only screen and (min-width: 1200px) {
                    left: calc((((100vw - 100%) / 2) * -1) - 45px);
                }
                @media only screen and (max-width: 1199px) {
                    left: calc(((100vw - 100%) / 2) * -1);
                }
            }
            * {
                z-index: 2;
            }
            input.form-text {
                border: none;
                border-radius: 0;
            }
            input.button {
                padding: 20px;
                background-color: $color-petrol;
                color: white!important;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
                border: none;
                border-radius: 4px;
                display: block;
                margin-top: 50px;
                width: fit-content;
                width: -moz-fit-content;
                width: -ms-fit-content;
                width: -webkit-fit-content;
                &::after {
                    content: '›';
                    padding-left: 20px;
                    padding-top: 2px;
                    font-size: 2rem;
                }
            }
        }
    }
}