footer.site-footer {
    background-color: $color-petrol!important;
    border-left: none!important;
    background: none;
    color: white;
    &:after {
        box-sizing: unset;
    }
    .site-footer__inner {
        padding-top: 100px;
        padding-bottom: 200px;
        padding-left: 0;
        padding-right: 0;
        @media only screen and (max-width: $breakpoint-l--with-padding) {
            padding-left: 18px;
            padding-right: 18px;
        }
        @media only screen and (max-width: $breakpoint-s) {
            flex-wrap: wrap;
            padding-bottom: 50px;
        }
        .site-footer__inner__menu-wrapper {
            flex: 0 1 33%;
            @media only screen and (max-width: $breakpoint-s) {
                flex: 1 0 50%;
                margin-bottom: 80px;
            }
            nav {
                margin-bottom: 0;
            }
            a {
                color: white;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}