header {
    .container {
        max-width: 100vw;
    }
    .site-header__initial,
    .sticky-header-toggle {
        background-color: white;
        .sticky-header-toggle__icon span {
            border-top: solid 3px black;
        }
    }
    #block-uni-oldenburg-custom-branding {
        background: none;
    }
}

header.site-header--frontpage {
    height: 700px;
    .site-header--frontpage__header-img,
    .site-header--frontpage__overlay--orange {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100vw;
        height: 700px;
    }
    .site-header--frontpage__overlay--orange {
        background-color: $color-brown;
        mix-blend-mode: multiply;
    }
    .site-header__fixable {
        #site-header__inner,
        .site-header__initial,
        .sticky-header-toggle,
        #header-nav {
            background-color: transparent;
        }
        .primary-nav__menu-link-inner,
        .secondary-nav__menu-link,
        .block-search-wide__button svg {
            color: white;
        }
    }
    .site-header__fixable.is-fixed {
        #site-header__inner,
        .site-header__initial,
        .sticky-header-toggle,
        #header-nav {
            background-color: white;
        }
        .primary-nav__menu-link-inner,
        .secondary-nav__menu-link,
        .block-search-wide__button svg {
            color: black;
        }
    }
}

nav.breadcrumb {
    display: none;
}

.mobile-buttons {
    margin-top: 40px!important;
    button.mobile-nav-button {
        color: white;
        .mobile-nav-button__icon:after,
        .mobile-nav-button__icon:before,
        .mobile-nav-button__icon {
            background-color: white!important;
        }
    }
}