header {
    &#header {
        z-index: 999;
    }
    .container {
        max-width: 100vw;
    }
    .site-header__initial,
    .sticky-header-toggle {
        background-color: white;
        .sticky-header-toggle__icon span {
            border-top: solid 3px $color-petrol;
        }
    }
    #block-uni-oldenburg-custom-branding {
        background-color: white;
        background: white;
    }
    .primary-nav__menu-link-inner:after {
        border-color: $color-petrol;
    }
}

nav.menu--account {
    margin-left: 2.25rem;
    * {
        font-weight: 500;
    }
    @media only screen and (max-width: $breakpoint-l) {
        margin-left: 0;
    }
}

header.site-header--frontpage .site-header__fixable.is-fixed #site-header__inner {
    @media only screen and (max-width: $breakpoint-l) {
        background-color: transparent!important;
    }
}

header.site-header--frontpage {
    height: 700px;
    .primary-nav__menu-link-inner:after {
        border-color: white;
    }
    .site-header--frontpage__header-img {
        object-fit: cover;
    }
    .site-header--frontpage__header-img,
    .site-header--frontpage__overlay--orange,
    .site-header--frontpage__header-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100vw;
        height: 750px;
    }
    .site-header--frontpage__overlay--orange {
        background-color: $color-brown;
        mix-blend-mode: multiply;
    }
    .site-header--frontpage__header-content {
        justify-content: center;
        align-items: center;
        .site-header--frontpage__header-content__content-wrapper {
            gap: 100px;
            align-items: center;
            margin-top: 150px;
            @media only screen and (max-width: $breakpoint-m) {
                flex-direction: column;
                gap: 30px;
            }
            .site-header--frontpage__header-content__content-wrapper__inner {
                flex: 1 1 50%;
                @media only screen and (max-width: $breakpoint-m) {
                    width: 70%;
                }
                @media only screen and (max-width: $breakpoint-s) {
                    width: 100%;
                }
                h1 {
                    max-width: 740px;
                    @media only screen and (max-width: $breakpoint-m) {
                        margin-top: 50px;
                        text-align: center;
                    }
                    hyphens: none;
                    -ms-hyphens: none;
                    -webkit-hyphens: none;
                    -moz-hyphens: none;
                }
                .site-header--frontpage__header-content__content-wrapper__inner__form {
                    input {
                        width: 100%;
                        margin-top: 30px;
                        border: none;
                        border-radius: 0;
                    }
                    button {
                        font-size: 20px;
                        margin: 30px auto;
                        cursor: pointer;
                        &:hover {
                            font-weight: 700;
                        }
                    }
                    input,
                    button {
                        display: block
                    }
                }
            }
        }
    }
    .site-header__inner {
        @media only screen and (max-width: $breakpoint-l) {
            background-color: transparent;
        }
    }
    .site-header__fixable {
        #site-header__inner,
        .site-header__initial,
        .sticky-header-toggle,
        #header-nav {
            @media only screen and (min-width: $breakpoint-l) {
                background-color: transparent;
            }
        }
        .primary-nav__menu-link-inner,
        .secondary-nav__menu-link,
        .block-search-wide__button svg {
            @media only screen and (min-width: $breakpoint-l) {
                color: white;
            }
        }
    }
    .site-header__fixable.is-fixed {
        #site-header__inner,
        .site-header__initial,
        .sticky-header-toggle,
        #header-nav {
            background-color: white;
        }
        .primary-nav__menu-link-inner,
        .secondary-nav__menu-link,
        .block-search-wide__button svg {
            color: $color-petrol;
        }
        .primary-nav__menu-link-inner:after {
            border-color: $color-petrol;
        }
    }
}

nav.breadcrumb {
    display: none;
}

.mobile-buttons {
    margin-top: 40px!important;
    button.mobile-nav-button[aria-expanded="false"] {
        color: $color-petrol;
        .mobile-nav-button__icon:after,
        .mobile-nav-button__icon:before,
        .mobile-nav-button__icon {
            background-color: $color-petrol!important;
        }
    }
    button.mobile-nav-button[aria-expanded="true"] {
        color: $color-petrol;
        .mobile-nav-button__icon:after,
        .mobile-nav-button__icon:before {
            background-color: $color-petrol!important;
        }
        .mobile-nav-button__icon {
            background-color: transparent!important;
        }
    }
}

.site-header--frontpage .mobile-buttons {
    margin-top: 40px!important;
    button.mobile-nav-button[aria-expanded="false"] {
        color: white;
        .mobile-nav-button__icon:after,
        .mobile-nav-button__icon:before,
        .mobile-nav-button__icon {
            background-color: white!important;
        }
    }
    button.mobile-nav-button[aria-expanded="true"] {
        color: $color-petrol;
        .mobile-nav-button__icon:after,
        .mobile-nav-button__icon:before {
            background-color: $color-petrol!important;
        }
        .mobile-nav-button__icon {
            background-color: transparent!important;
        }
    }
}