.object-cards {
    .views-view-grid {
        justify-content: space-between;
        @media only screen and (max-width: $breakpoint-s) {
            flex-direction: column;
        }
        .views-view-grid__item {
            margin-right: 0;
            margin-bottom: 100px;
            flex: 0 1 45%;
            @media only screen and (max-width: $breakpoint-s) {
                margin-bottom: 50px;
            }
        }
    }
    .object-card {
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 3px solid $color-brown;
        border-top: 3px solid $color-brown;
        height: 220px;
        .object-card__inner--text-wrapper {
            padding-top: 30px;
            padding-bottom: 20px;
            flex: 0 1 50%;
        }
        .object-card__inner--img-wrapper {
            flex: 0 1 40%;
            position: relative;
            background-color: $color-grey;
            .field--type-image {
                width: 100%;
                height: 100%;
                .field__item {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                }
            }
            .field--type-image .field__item:not(:first-child) {
                display: none;
            }
        }
    }
}