<div class="layout--person">
    <div class="layout--person__top-wrapper">
        {{ content.top }}
    </div>
    <div class="layout--person__first-wrapper">
        <div class="layout--person__first-wrapper__txt-wrapper">
            <h3>Zugehörige Informationen</h3>
        </div>
    </div>
    <div class="layout--person__second-wrapper flex">
        <div class="layout--person__second-wrapper__inner">
            {{ content.left_two }}
        </div>
        <div class="layout--person__second-wrapper__inner">
            {{ content.right_two }}
        </div>
    </div>
</div>


<!-- $entity->type->entity->label(); -->