<div class="object-card flex">
    <div class="object-card__inner object-card__inner--text-wrapper">
        {{content.left}}
    </div>
    <div class="object-card__inner object-card__inner--img-wrapper">
        {{content.right}}
    </div>
</div>